on property:persist.sys.camera.cameraservice.uid_idle=1
    exec_background /system/bin/micompactmemory ${persist.vendor.camera.provider.pid} anon

service cameraserver /system/bin/cameraserver
    class main
    user cameraserver
    group audio camera input drmrpc readproc
    ioprio rt 4
    task_profiles CameraServiceCapacity CameraServicePerformance
    rlimit rtprio 10 10
    writepid /dev/memcg/camera/service/cgroup.procs